<div class="col-sm-12" ng-controller="GameCtrl">
	<h1>Frontier</h1>
	<button class="btn btn-success" ng-click="startGame()" ng-hide="hideStartGame">Start Game</button>

	<div class="col-sm-12" ng-show="hideStartGame">
		<p>Game ID: {{rand}}</p>
		<p>Enter the game ID on your phone</p>
		<!-- <p>{{presences[presences.length-1].occupancy}} players online</p> -->
		<p ng-if="presences.length>0">{{presences.length-1}} players online</p>
	</div>

	<div class="col-sm-12" ng-show="presences.length==3">
		<p>Show Global Data</p>
		<p>Species Value: {{speciesVal}}</p>
	</div>

	<div class="col-sm-12" ng-show="turnSession"> 
		<!-- if players more than 2, change to messages.length >= pr.occupancy -->
		<p>Everyone is ready!</p>

		<h4>Turn {{turnCounter}}</h4>

		<p ng-hide="votingStatus">Voting process ....</p>
		<p ng-show="votingStatus">Total Influences: <span>{{totalInfluences}}</span></p>

	</div>

</div>



	<!-- <div class="col-sm-12">
		<ul class="col-sm-12">
           <li ng-repeat="message in messages">
             <span class="title">#{{ message.sender_uuid }}</span>
             <p>{{ message.date | date:"MM/dd/yyyy 'at' h:mma"}}</br> {{ message.content }}</p>
           </li>
      </ul> 
	</div> -->