<div class="col-sm-12" ng-controller="GameCtrl">
    <h1>Species </h1>

    <div class="col-sm-12" ng-show="joinTrue">  
      <p>Species name: {{itemDetail.name}}</p>
      <p>Species class: {{itemDetail.class}}</p>
      <p>Species habitat: {{itemDetail.habitat}}</p>
      <h4>Stats:</h4>
      <ul>
        <li>Energy: {{itemDetail.stats.energy}}</li>
        <li>Food: {{itemDetail.stats.food}}</li>
        <li>Land: {{itemDetail.stats.land}}</li>
        <li>Population: {{itemDetail.stats.population}}</li>
      </ul>
      <p>Influences: {{itemDetail.stats.influence}}</p>
      <p>Value number {{speciesVal}}</p>
    </div>

    <form ng-hide="joinTrue" ng-submit="joinGame()">
      <input ng-model="gameId" type="text" placeholder="Enter Game ID" class="fr-input"/>
      <button type="submit" class="btn btn-primary">Join</button>
    </form>


    <div class="col-sm-12" ng-show="joinTrue">
         <form ng-submit="sendMessage()">
           <input ng-hide="true" ng-model="readyState" type="text" placeholder="Type your message" ng-value="readyState"/>
           <button type="submit" ng-hide="turnSession" class="btn btn-primary">I'm Ready!</button>
          </form>
    </div>

    <div class="col-sm-12" ng-show="turnSession">
      <!-- TODO : shows everytime player click ready -->
      <p>Turn {{turnCounter}}</p>
      
          <div class="flex-container flex-0 prop-box">
          <div class="box flex-5 inside-box inside-no-corner">
              <p>Motion 1</p>
              <ul>
                <li>Topic: {{motion.topic}}</li>
                <li>Type: {{motion.type}}</li>
              </ul>
              <ul>
                <li ng-hide="effects.land==0">Land: {{motion.effects.land}}</li>
                <li ng-hide="effects.population==0">Population: {{motion.effects.population}}</li>
                <li ng-hide="effects.energy==0">Energy: {{motion.effects.energy}}</li>
                <li ng-hide="effects.food==0">Food: {{motion.effects.food}}</li>
              </ul>
              <strong>Influence Required: {{motion.effects.influence_required}}</strong>
            </div>
            <div class="flex-1">
              <button ng-click="addInfluence(1)">+</button>
              <p>{{ influences }}</p>
              <button ng-click="removeInfluence(1)">-</button>
            </div>
          </div>
          <div class="flex-container flex-0 prop-box">
          <div class="box flex-5 inside-box inside-no-corner">
              <p>Motion 2</p>
              <ul>
                <li>Topic: {{motion2.topic}}</li>
                <li>Type: {{motion2.type}}</li>
              </ul>
              <ul>
                <li ng-hide="effects.land==0">Land: {{motion2.effects.land}}</li>
                <li ng-hide="effects.population==0">Population: {{motion2.effects.population}}</li>
                <li ng-hide="effects.energy==0">Energy: {{motion2.effects.energy}}</li>
                <li ng-hide="effects.food==0">Food: {{motion2.effects.food}}</li>
              </ul>
              <strong>Influence Required: {{motion2.effects.influence_required}}</strong>
            </div>
            <div class="flex-1">
              <button ng-click="addInfluence(2)">+</button>
              <p>{{ influences2 }}</p>
              <button ng-click="removeInfluence(2)">-</button>
            </div>
            <button ng-click="sendVote()" ng-hide="submitted">Send my vote</button>
          </div>

      <p ng-hide="votingStatus">Waiting for another player</p>
      <div ng-show="votingStatus">

        <form ng-submit="finishMotion()">
          <button type="submit" class="btn btn-primary">Continue</button>
        </form>

      </div>

    </div>

</div>



<!-- <ul class="col-sm-12">
     <li ng-repeat="message in messages">
       <span class="title">#{{ message.sender_uuid }}</span>
       <p>{{ message.date | date:"MM/dd/yyyy 'at' h:mma"}}</br> {{ message.content }}</p>
     </li>
</ul>  -->


